<a href="https://colab.research.google.com/github/nuvita97/Alternator-Analytics/blob/main/Alternator2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Read data from Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
import pandas as pd

path = '/content/drive/MyDrive/000. HUUTOAN/ALTERNATOR'

os.chdir(path) # Change directory
os.listdir(path) # List directory

['Alternator_2021.ipynb',
 'preview.xlsx',
 'genset.xlsx',
 'data.xlsx',
 'Bao cao 8501 (T1 - T11.2021).xlsx',
 'preview.csv',
 'data.csv',
 'alte_kw.xlsx',
 'alte_kva.xlsx',
 'Copy of Alternator_2021.ipynb',
 'alte.xlsx']

In [3]:
# Read file
data = pd.read_excel('Bao cao 8501 (T1 - T11.2021).xlsx', header = 0, sheet_name = 'Bao cao nhap khau_working')

print(data.shape) # Number of rows & columns

# Uppercase to standardize
data['IMPORTER'] = data['IMPORTER'].str.upper() 
data['DETAILED COMMODITY'] = data['DETAILED COMMODITY'].str.upper()

display(data.head())
display(data.info())

(120830, 23)

,INDEX,DATE,IMPORT TYPE,TAX CODE,IMPORTER,HS CODE,EXPORTER,ORIGIN,UNIT,QUANTITY,...,AMOUNT (VND),AMOUNT (USD),EXPORT COUNTRY,DETAILED COMMODITY,PRODUCT TYPE,CHECK NEW,BRAND,MODEL,POWER,POWER UOM
0,1,2021-01-01,Nhập kinh doanh tiêu dùng,4900862482,CÔNG TY TNHH THƯƠNG MẠI VÀ XUẤT NHẬP KHẨU HD,85014019,"GUANGXI PINGXIANG CITY TIANBANG TRADE CO.,LTD",China,cái/chiếc,60.0,...,38707200.0,1680.00,China,"ĐỘNG CƠ RÈM CỬA. MÃ HIỆU:AM68-1.5/100 EMP,ĐIỆN...",NaN,NaN,NaN,NaN,NaN,NaN
1,2,2021-01-01,Nhập kinh doanh tiêu dùng,4900862482,CÔNG TY TNHH THƯƠNG MẠI VÀ XUẤT NHẬP KHẨU HD,85014019,"GUANGXI PINGXIANG CITY TIANBANG TRADE CO.,LTD",China,cái/chiếc,40.0,...,19906560.0,864.00,China,"ĐỘNG CƠ RÈM CỬA. MÃ HIỆU:N18-4A5-2,ĐIỆN XOAY C...",NaN,NaN,NaN,NaN,NaN,NaN
2,3,2021-01-01,Nhập kinh doanh sản xuất,2300852009,CÔNG TY TNHH SAMSUNG DISPLAY VIỆT NAM,85011029,"EO TECHNICS CO., LTD.",Korea (Republic),cái/chiếc,1.0,...,73114444.8,3173.37,Korea (Republic),"(Q430-104377) ĐỘNG CƠ BƯỚC 8330K , LOẠI 1 CHIỀ...",NaN,NaN,NaN,NaN,NaN,NaN
3,4,2021-01-02,Nhập nguyên liệu sản xuất xuất khẩu,304905709,CÔNG TY TNHH JABIL VIỆT NAM,85011029,"SHINANO KENSHI CO., LTD.",China,cái/chiếc,3840.0,...,330891264.0,14361.60,China,"P1027053-LF#&MÔ TƠ MỘT CHIỀU (ĐỘNG CƠ BƯỚC, CÔ...",NaN,NaN,NaN,NaN,NaN,NaN
4,5,2021-01-02,Nhập nguyên liệu sản xuất xuất khẩu,304905709,CÔNG TY TNHH JABIL VIỆT NAM,85011029,"SHINANO KENSHI CO., LTD.",China,cái/chiếc,1920.0,...,165445632.0,7180.80,China,"P1027053-LF#&MÔ TƠ MỘT CHIỀU (ĐỘNG CƠ BƯỚC, CÔ...",NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120830 entries, 0 to 120829
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   INDEX               120830 non-null  int64
 1   DATE                120830 non-null  datetime64[ns]
 2   IMPORT TYPE         120830 non-null  object
 3   TAX CODE            120830 non-null  int64
 4   IMPORTER            120830 non-null  object
 5   HS CODE             120830 non-null  int64
 6   EXPORTER            120830 non-null  object
 7   ORIGIN              120829 non-null  object
 8   UNIT                120829 non-null  object
 9   QUANTITY            120830 non-null  float64
 10  UNIT PRICE          120830 non-null  float64
 11  AMOUNT              120830 non-null  float64
 12  CURRENCY            120830 non-null  object
 13  AMOUNT (VND)        120830 non-null  float64
 14  AMOUNT (USD)        120830 non-null  float64
 15  EXPORT COUNTRY      120830 non-null  object
 16  DETAILED COMMODITY  120830 non-null  object
 17  PRODUCT TYPE        0 non-null       float64
 18  CHECK NEW           0 non-null       float64
 19  BRAND               0 non-null       float64
 20  MODEL               0 non-null       float64
 21  POWER               0 non-null       float64
 22  POWER UOM           0 non-null       float64
dtypes: datetime64[ns](1), float64(11), int64(3), object(8)
memory usage: 21.2+ MB

None

In [4]:
# Filter New/Used
data.loc[data['DETAILED COMMODITY'].str.contains('100%'), 'CHECK NEW'] = 'New'
data.loc[data['DETAILED COMMODITY'].str.contains('ĐÃ QUA SỬ DỤNG'), 'CHECK NEW'] = 'Used'
data['CHECK NEW'] = data['CHECK NEW'].fillna('N/A')

# Filter Alternator
data.loc[data['DETAILED COMMODITY'].str.contains('MÁY PHÁT ĐIỆN'), 'PRODUCT TYPE'] = 'Máy phát điện'
data.loc[data['DETAILED COMMODITY'].str.contains('ĐỘNG CƠ'), 'PRODUCT TYPE'] = 'Động cơ'
data.loc[data['DETAILED COMMODITY'].str.contains('MÔ TƠ|MÔ-TƠ|MÔTƠ|MOTOR'), 'PRODUCT TYPE'] = 'Motor'
data.loc[data['DETAILED COMMODITY'].str.contains('ĐẦU PHÁT|ĐẦU MÁY PHÁT|DÙNG CHO TỔ MÁY PHÁT ĐIỆN'), 'PRODUCT TYPE'] = 'Đầu phát'
data.loc[data['DETAILED COMMODITY'].str.contains('DYNAMO'), 'PRODUCT TYPE'] = 'Dynamo'
data['PRODUCT TYPE'] = data['PRODUCT TYPE'].fillna('N/A')

# Filter Unit
data.loc[data['DETAILED COMMODITY'].str.contains('W'), 'POWER UOM'] = 'W'
data.loc[data['DETAILED COMMODITY'].str.contains('KW'), 'POWER UOM'] = 'KW'
data.loc[data['DETAILED COMMODITY'].str.contains('KVA'), 'POWER UOM'] = 'KVA'
data['POWER UOM'] = data['POWER UOM'].fillna('N/A')

print(data['CHECK NEW'].value_counts())
print('----------')
print(data['PRODUCT TYPE'].value_counts())
print('----------')
print(data['POWER UOM'].value_counts())
print('----------')

New     86344
N/A     29425
Used     5061
Name: CHECK NEW, dtype: int64
----------
Motor            70361
Động cơ          43474
N/A               3126
Máy phát điện     2151
Đầu phát          1603
Dynamo             115
Name: PRODUCT TYPE, dtype: int64
----------
W      65294
KW     29013
N/A    24490
KVA     2033
Name: POWER UOM, dtype: int64
----------

In [5]:
# Fill Alternator dataframe
alte = data[data['PRODUCT TYPE'] == 'Đầu phát']

# Filter Check New in Alte
print(alte['CHECK NEW'].value_counts())

# Filter UOM in Alte
print(alte['POWER UOM'].value_counts())
print(alte['DETAILED COMMODITY'][alte['POWER UOM'] == 'N/A'])

# Drop N/A & MW in POWER UOM (máy thủy & tuabin gió)
alte = alte.drop(alte.index[alte['POWER UOM'] == 'N/A'])
alte = alte.drop(alte.index[alte['POWER UOM'] == 'W'])
print(alte['POWER UOM'].value_counts())

New    1151
N/A     452
Name: CHECK NEW, dtype: int64
KW     1169
KVA     420
W        11
N/A       3
Name: POWER UOM, dtype: int64
35752    ĐẦU PHÁT ĐIỆN 24V/10A P/N: VOP 21429786  DÙNG ...
35753    ĐẦU PHÁT ĐIỆN 24V/10A P/N: VOP 3840181  DÙNG C...
52429    ĐẦU PHÁT ĐIỆN 12V P/N: 22707961  DÙNG CHO MÁY ...
Name: DETAILED COMMODITY, dtype: object
KW     1169
KVA     420
Name: POWER UOM, dtype: int64

In [6]:
# Extract Power number
alte['POWER'] = alte[alte['POWER UOM'] == 'KVA']['DETAILED COMMODITY'].str.extract('(\d*.\d*\s*)KVA')
alte['POWER2'] = alte[alte['POWER UOM'] == 'KW']['DETAILED COMMODITY'].str.extract('(\d*.\d*\s*)KW')

# Clean number
alte['POWER'] = alte['POWER'].str.strip() # Remove first & last space
alte['POWER'] = alte['POWER'].str.replace('.*[,/()=:-]', '') # Remove special strings

alte['POWER2'] = alte['POWER2'].str.strip() # Remove first & last space
alte['POWER2'] = alte['POWER2'].str.replace('.*[,/()=:-]', '') # Remove special strings

print(alte['POWER'].unique())
print(alte['POWER2'].unique())

['500' '200' nan '2200' '1450' '2060' '150' '715' '100' '25' '20' '37.5'
 '6' '135' '11' '31' '85' '30' '2360' '125' '140' '2500' '1600' '1915'
 '1505' '670' '400' '13.5' '8.5' '10' '12.5' '800' '600' '2020' '350'
 '230' '275' '300' '365' '410' '455' '550' '660' '750' '' '1000' '1500'
 '180' '165' '440' '385' '1100' '1375' '45' '62.5' '3.7' '2.7' '2000'
 '415' '250' '1020' '160' '450' '93.8' '32' '1860' '2300' '910' '138'
 '1150' '90' '437' '62.55' '82.5' '225' '325' '1250' '1640' '2450' '1133'
 '40' '60' '625' '1025' '1800' '2' '42' '8.4' '1615' '820' '12500' '2250'
 '1550' '8' '4 250' '2418' '15' '9.5' '1110' '8.1' '5' '12' '14' '22'
 '345' '1350' '380' '50' '80' '1510']
[nan '13' '9.0' '5.5' '8.5' '8.0' '' '3.6' '7.5' '8.3' '3.2' '6.5' '5.0'
 '2.8' '6.2' '4.0' '6.25' '5.6' '3.7' '6_3' '3.3' '2.2' '8' '5' '3.5'
 '8.1' '3.4' '7.2' '6.0' '6.9' '21' '7' '18' '22' '1' '12.5' '9.5']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  # Remove the CWD from sys.path while we load stuff.

In [7]:
# Extract Brand name
alte['BRAND'] = alte['DETAILED COMMODITY'].str.extract('HIỆU([^,:]+)')
alte['BRAND']= alte['BRAND'].str.strip()
alte['BRAND'].unique()

array([nan, 'NSM', 'MECC ALTE', 'KWISE', 'CNSZ', 'LEROY SOMER', 'VEGA',
       'SOGA', 'GENPARTS', 'SINOCOX', 'LEROYSOMER', 'LINZ',
       'DINGOL MODEL DG 544C', 'STAMFORD',
       'CATERPILLAR (P.2620) - HÀNG MỚI 100%',
       'CATERPILLAR (P.2626) - HÀNG MỚI 100%', 'MECC ALTE. MODEL',
       'AOSIF', 'DINGOL MODEL DG 274C', 'DINGOL MODEL DG 224G',
       'DINGOL MODEL DG 274K', 'SINOCOX DÙNG CHO TỔ MÁY PHÁT ĐIỆN',
       'MECC ALTE MODEL ECO38 1S4A', 'MECC ALTE ITALY MODEL ECO43 1M4A',
       'LINZ- MODEL', 'FARADAY', 'INGCO', 'CATER. HÀNG MỚI 100%',
       'SINCRO DÙNG CHO MÁY PHÁT ĐIỆN', 'LEROY-SOMER',
       'DINGOL MODEL DG 634E', 'SINCRO MODEL SK132M',
       'SINCRO MODEL SK160CA1', 'SINCRO MODEL SK160CB1',
       'SINCRO MODEL SK160LA1', 'RUNDA', 'NHSTAR', 'DINGOL MODEL DG444D',
       'DINGOL MODEL DGK444F'], dtype=object)

In [8]:
# Extract Model name
alte['MODEL'] = alte['DETAILED COMMODITY'].str.extract('MODEL\:?([^,()]+)')
# alte['MODEL'] = alte['DETAILED COMMODITY'].str.extract('MODEL\s?\:?([^,]+),')
# alte['MODEL'] = alte['MODEL'].str.extract(:)
alte['MODEL']= alte['MODEL'].str.strip()
alte['MODEL'].unique()

array([nan, 'L51L7', 'MG-L50L8', 'MG-L51S58', 'ECO38 1S4A', 'S354G520E7',
       'ECP34 2S4C', 'ECO40 3S4B', 'ECP28 L4C', 'ECP28 M4C', 'ECP32 1S4C',
       'S20W-95/B', 'ECP34 2M4C', 'ECP34-1L/4C', 'ES20F-200', 'SZN164C',
       'SZN184G', 'TALA44C CÔNG XUẤT LIÊN TỤC 85KVA', 'ECP28 VL4C',
       'MG-L51M68', 'MG- L51L7', 'MG-L51V9', 'VGU270B', 'VGU270C',
       'VGU270D', 'VGU270ES', 'MG-L52S7M', 'MG-L50V1', 'MG-7PC',
       'MG-HC5F.CÔNG SUẤT 670 KVA', 'ECO40 1S4B', 'ECP3 2L4',
       'ECP34 1L4 C', 'ECP3 1L4', 'ECP28 3S4C',
       'MG-HC6G.CÔNG SUẤT 800 KVA', 'LSA 50.2L7', 'TAL A44 D J6S/4',
       'TAL A44 E J6S/4', 'TAL A44 J J6S/4', 'TAL A44 M J6S/4',
       'TAL A46 C J6S/4', 'TAL A46 E J6S/4', 'TAL A46 F J6S/4',
       'TAL A46 H J6S/4', 'TAL A47 A J6S/4', 'TAL A47 B J6S/4',
       'TAL A47 C J6S/4', 'TAL A47 D J6S/4', 'TAL A47 F J6S/4',
       'TAL A49 B J6S/4', 'MG-HC6J', 'MG-7PF.CÔNG SUẤT 2020 KVA',
       'MG-L52L9M', 'ECP34 1L4C', 'ECO38 1S4 A', 'ECO40 1S4 B',
       'S274G120C5', 'S314G320E8', 'S314G280D6', 'S404G800D4',
       'S404G1000E6', 'ECP32 1S4 C', 'ECP32 2S4 C', 'ECP32 2M4 C',
       'MG-L52S6', 'ECP34 2M4 C', 'TAL-A44-C', 'TAL-A44-D', 'TAL-A44-E',
       'TAL-A44-J', 'TAL-A44-L', 'TAL-A44-M', 'TAL-A46-D', 'TAL-A46-F',
       'TAL-A46-H', 'TAL-A47-A', 'TAL-A47-C', 'TAL-A47-F', 'TAL-A49-B',
       'ECP34 1M4C', 'SMF400E', 'TAL A44M', 'TAL A47A', 'TAL A47E',
       'LSA50.2L8', 'DG 544C', 'MP-H-50-4', 'MP-H-75-4', 'VGU180E',
       'TAL A44C', 'MG-L52S5', 'MG-L52S68', 'MG-HC6H', 'TAL-A44-H',
       'TAL-A46-C', 'TAL-A46-E', 'LSAP42.3E CÔNG XUẤT LIÊN TỤC 20KVA',
       'LSAP42.3C CÔNG XUẤT LIÊN TỤC 30KVA',
       'LSAP44.3C CÔNG XUẤT LIÊN TỤC 100KVA',
       'LSAP45M1 CÔNG XUẤT LIÊN TỤC 200KVA', 'S4L1S-F4', 'MG-L52S58',
       'PI734C1', 'ECO43 2M4 A', 'ECP28 M4 C', 'SMF270G',
       'LSF46.2M3 C6S/4', 'LSAM47.2 L9-4P. CÔNG SUẤT 437KVA', 'ECP322S4C',
       'ECP322M4C', 'ECP322L4C', 'THA 274C', 'THA 224G', 'THA 274E',
       'THA 274FS', 'THA 274K', 'ECP32 2L4C', 'ECO38 3S4A', 'ECO40 1L4 B',
       'MG-HC5D.CÔNG SUẤT 500 KVA', 'MG-73PD', 'AA-260-4', 'AA-400-4',
       'TA LA46 HJ6S/4. CÔNG XUẤT LIÊN TỤC 365KVA',
       'TAL A49 EJ6S/4 CÔNG XUẤT LIÊN TỤC 1000KVA',
       'LSA 50.2 M6 C6S/4 CÔNG XUẤT LIÊN TỤC 1250KVA',
       'LSA50.2VL10C6S/4 CÔNG XUẤT LIÊN TỤC 1640KVA',
       'LSA52.3S6C6S/4 CÔNG XUẤT LIÊN TỤC 2000KVA', 'DG 274C', 'DG 224G',
       'DG 274K', 'SMF270B', 'SMF270D', 'SMF270ES', 'SMF270J', 'SMF315C',
       'SMF315G', 'SMF355B', 'SMF355D', 'MG-L52S78', 'DWI400F',
       'ECO40 1.5L4A', 'ECO43 1M4A', 'TALA46H', 'G1R250SB', 'G1R250LD',
       'G1R355SB', 'ECP28 L4 C', 'MG-L50V18', 'KT7', 'PRO18M E/4',
       'VGU270J', 'FD1K', 'FD3DS', 'FD3D', 'FD3F', 'FD6AS', 'MG-7PD',
       'ECO40-1.5L4B', 'ECO38 2S4A', 'ECP34 2L4C', 'TALA44DJ6S/4',
       'TALA44EJ6S/4', 'TALA44JJ6S/4', 'TALA44MJ6S/4', 'TALA46DJ6S/4',
       'TALA46FJ6S/4', 'TALA473AJ6S/4', 'TALA473CJ6S/4', 'TALA49CJ6S/4',
       'TALA49EJ6S/4', 'LSA50.2M6C6S/4', 'KT82M', 'VGU225D', 'VGU270G',
       'SMF315D', 'SMF355C', 'ECO38 2M4 C', 'MG-L50L78', 'ECO40 1L4B',
       'SK225MN', 'SK250SL', 'SK250MM', 'SK250LS', 'SK315SS', 'SK315SM',
       'SK355MS', 'MG-L52S7S', 'MG-HC5F', 'MG-7PD.CÔNG SUẤT 1615 KVA',
       'ES20FS-160', 'DG 634E', 'TAL A 49E J6S/4', 'LSA 50.2 L8 C6S/4',
       'LSA50.2 VL10 C6S/4', 'TAL A47C', 'TAL 047F', 'TAL A49B',
       'TAL A49E', 'ECO38 1L4 A', 'ECO38 2L4 A', 'ECO38 2S4 A', 'SK132M',
       'SK160CA1', 'SK160CB1', 'SK160LA1', 'MG-L50L7', 'SMF315E',
       'SMF315F', 'DG444D', 'DGK444F', 'VGU225C', 'VGU225FS', 'VGU315C',
       'VGU315E', 'VGU315G', 'VGU400E', 'VGU500E'], dtype=object)

In [9]:
# Export to Excel
alte.to_excel('alte.xlsx', index = False)